<div class="work">
    <h2>{{ .title | title }}</h2>
    <div id="{{ sha1 .title }}" class="slider">
        <ul class="slides">
            {{ $height := 500}}
            {{ range .photos}}
                {{ $image := resources.Get . }}
                {{ if $image }}
                    {{ $img := $image.Resize "x1000" }}
                    {{ with $image.Exif }}
                        {{ if eq .Tags.Orientation 6 }}
                            {{ $img = $image.Resize "x1000 r270" }}
                        {{ end }}
                    {{ end }}
                    <li>
                        <img src="{{ $img.RelPermalink }}">
                    </li>
                {{ end}}
            {{ end }}
        </ul>
    </div>

    <!-- js for slider -->
    <script>
        $(document).ready(function(){
            $('#{{ sha1 .title }}').slider(
                {
                    'height': 500,
                {{ if eq (len .photos) 1}}
                    'indicators': false
                {{ end }}
                }
            );
        });
    </script>
</div>